attrs==23.2.0
botocore==1.17.53
configparser==3.5.0
coverage==5.2.1
enum34==1.1.6
flake8==3.7.9
funcsigs==1.0.2
mccabe==0.6.1
pbr==3.1.1
pluggy==1.2.0
py==1.11.0
pycodestyle==2.5.0
pyflakes==2.1.1
pytest==7.4.4
pytest-cov==4.1.0
pytest-html==3.2.0
pytest-metadata==3.0.0
pytest-mock==3.11.1
six==1.11.0
